/* #scroller {
  width: 100vw;
  height: auto;
}

#frames {
display: block;
width: 100vw;
z-index: 1;
} */

#splash {
  background-color: #5aaff4;
  height: 100vh
}

#intro {
  background-color: #5aaff4;
  height: 100vh;
}

#salmon-species {
  background-color: #5aaff4;
  height: 100vh;
}
/* #scroll-3 {
  background-color: #0372cd;
  height: 100vh;
}
#scroll-4 {
  background-color: #0060ae;
  height: 100vh;
} */

.scroll-0-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data {
display: flex;
position: fixed;
top: 0px;
left: 0px;
max-width: 100%;
height: 100vh;
width: 100vw;
background-color: #5aaff4;
display: none;
}

/* .data-0 {
  background-color: #0b70c3;
  transition: background 200ms ease-in
}
.data-1 {
  background-color: #0b70c3;
  transition: background 500ms ease-in
}
.data-2 {
  background-color: #0b70c3;
  transition: background 500ms ease-in
}
.data-3 {
  background-color: #0b70c3;
  transition: background 500ms ease-in
}
.data-4 {
  background-color: #0b70c3;
  transition: background 500ms ease-in
} */

/* #frame-0{
  
} */
/* #frame-1{

} */
/* #frame-2{

} */
/* #frame-3{

} */
/* #frame-4{

} */

/* .data-on{
  display: inline-block;
  height: 100%;
  width: 100%;
}

.data-off{
  display: none;
} */

.data-container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.years-container {
  height: 30px;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  border-bottom: solid black 1px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

.year-span {
  height: 12px;
  margin: 5px;
  font-size: 12px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background-color: rgb(230, 230, 230);
  width: 60px;
}

.year-span:hover {
  transition: margin 100ms, padding 100ms, font-size 100ms, height 100ms;
  margin: 2px;
  padding: 6px;
  cursor: pointer;
  font-size: 14px;
  height: 14px;
}

/* .static-wave-top {
  display: block;
  position: relative;
  height: 50vh;
  width: 100vw;
  bottom: 0;
} */
  
.wave-top {
  display: block;
  position: fixed;
  bottom: 0;

}

.wave-bottom {
  display: block;
  width: 110vw;
  background-color: blue;
  height: 0;
  position: fixed;
  bottom: 0;
}

#hidden-wave {
  display: none;
}

#button-container{
  position: fixed;
  bottom: 20%;
  width: 100%;
  height: fit-content;
  justify-content: center;
  flex-direction: row;  
  align-items: center;
  background-color: none;
  z-index: 5;
}

.current-button {
  font-size: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
  color: #5aaff4;
  font-weight: 800;
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.current-button:hover {
  cursor: pointer;
  border: solid 1px white;
  color: white;
  border-radius: 8px;
}

.next-button {
  font-size: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
  color: #5aaff4;
  font-weight: 800;
  z-index: 5;
  position: absolute;
  left: 120%;
  top: 85%;
  transform: translate(-50%, -50%);
  display: none;
  width: fit-content
}

.moving-scroll-down {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif; 
  color: #5aaff4;
  font-weight: 800;
  position: relative;
}

/* .scroll-down-arrow {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif; 
  color: #5aaff4;
  font-weight: 800;
  position: relative;
  bottom: -2vh;
} */

.hidden {
  display: none;
}

#personal-links {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  height: 40px;
  width: 40vw;
  max-width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: rgb(44, 44, 44);
  padding: 3px;
  font-size: 30px;
  background-color: white;
  border-radius: 0 0 0 8px;
}

#nav {
  position: fixed;
  font-size: 20px;
  font-weight: 600;
  color: black;
  top: 0;
  left: 0;
  height: 50px;
  width: 60vw;
  max-width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  margin-left: 5px;
  z-index: 10;
}

/* #nav hr {
  width: fit-content;
} */

#nav span {
  padding: 3px 10px 3px 10px;
  border: solid 1px black;
  border-radius: 8px;
  background-color: white;
}

#nav span:hover{
  cursor: pointer;
  color: blue;  
  background-color: white;
  border-color: blue;
}
#nav-splash-span {
  color: blue;
  border-color: blue;
}

#nav-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#footer a:hover {
  color: rgb(82, 82, 82);
}

.splash-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.splash-container h1 {
  font-size: 9vh;
  margin-top: 0;
  margin-bottom: 10px;
}

.splash-container h3 {
  font-size: 4vh;
  margin-bottom: 20px;
  margin-top: 0;
}

.splash-container p {
  font-size: 3vh;
  width: 60vw;
  margin-top: 0;
}

section {
  display: block;
  width: 100vw;
}

body {
  margin: 0;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.intro-container p {
  font-size: 2.8vh;
  color: white;
  width: 90vw;
}
.scroll-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.scroll-3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.scroll-4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.created-by-p{
  font-size: 1vh;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
}

.chinook-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: white;
}

.chinook-photo {
  width: 30vw;
}

.coho-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.coho-photo {
  width: 30vw;
}

.sockeye-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.sockeye-photo {
  width: 20vw;
}

.chum-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.chum-photo {
  width: 30vw;
}

.pink-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.pink-photo {
  width: 20vw;
}

.intro-p {
  font-size: 20px;
  color: white;
}

.author-spans {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-none {
  display: none;
}

.salmon-species-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}