#scroller {
  width: auto;
  height: auto;
}

#frames {
position: relative;
display: hidden;
width: 100px;
z-index: 1;
}

#frames section{
height: 100vh;
}

.data {
display: flex;
justify-content: space-around;
position: fixed;
top: 0px;
max-width: 100%;
z-index: 1;
margin-left: 0;
margin-right: 30px;

height: 100vh;
width: 100vw;
background-color: white;
}

.data-0 {
  background-color: #61a5dd;
  transition: background 200ms ease-in
}
.data-1 {
  background-color: rgb(158, 187, 241);
  transition: background 500ms ease-in
}
.data-2 {
  background-color: rgb(104, 119, 204);
  transition: background 500ms ease-in
}
.data-3 {
  background-color: rgb(132, 191, 240);
  transition: background 500ms ease-in
}
.data-4 {
  background-color: rgb(94, 255, 228);
  transition: background 500ms ease-in
}

/* #frame-0{
  
} */
/* #frame-1{

} */
/* #frame-2{

} */
/* #frame-3{

} */
/* #frame-4{

} */

.data-on{
  display: inline-block;
  height: 100%;
  width: 100%;
}

.data-off{
  display: none;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.years-container {
  height: 30px;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  border-bottom: solid black 1px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

.year-span {
  height: 12px;
  margin: 5px;
  font-size: 12px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background-color: rgb(230, 230, 230);
  width: 60px;
}

.year-span:hover {
  transition: margin 100ms, padding 100ms, font-size 100ms, height 100ms;
  margin: 2px;
  padding: 6px;
  cursor: pointer;
  font-size: 14px;
  height: 14px;
}

.wave-top {
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.wave-bottom {
  display: block;
  width: 110vw;
  z-index: 10;
  position: fixed;
  bottom: 0;
  background-color: blue;
  height: 0;
}

#hidden-wave {
  display: none;
}

.scroll-down {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif; 
  color: #61a5dd;
  font-weight: 100;
  z-index: 11;
  position: fixed;
  bottom: 0;
  margin-bottom: 100px;
}

.hidden {
  display: none;
}

#header {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  height: 40px;
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: none;
  color: rgb(44, 44, 44);
  margin-right: 10px;
}

#footer a:hover {
  color: rgb(82, 82, 82);
}